/*
color-font: #222;
color-selection: #b3d4fc;

background: #fff;
contrast: #B5CB30;
contrast-dark: #A3A658;

144659
B5CB30
A3A658
BFA89B
D9CFCC -- FFF3F0
*/

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #FEEDE6;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 20px/32px 'PT Serif', serif;
}

h1,
label, input { font-family: 'PT Sans', sans-serif; }

.header__title {
  color: white;
  font-size: 160%;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  text-shadow: 0 2px 0 rgba(0,0,0,0.4);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #B5CB30;
  text-align: center;
}

.header-container { 
  background-color: #B5CB30;
  background-image: url('/img/header.png');
  background-repeat: repeat-x;
  background-position: 0 50%;
  border-bottom: 3em solid #144659;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.footer-container,
.main aside {
    background: #B5CB30;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #A3A658;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .header__title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  color: #4961DD;
}

.announcement { 
  background: rgba(181, 203, 48, 0.7);
  border-radius: 2em;
}
.announcement__header { text-align: center; }
.icon--head { 
  font-size: 600%; 
  text-shadow: 0 1px #fff; 
  color: #454;
}

/*
 * Newsletter Form
 */
.news__label {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}
.news__input {
  border-radius: 2em;
  border: 2px solid;
  border-color: #A3A658;
  padding: 0.5em 1em;
}
.news__input--email {
  box-shadow: 0 2px 1px rgba(0,0,0,0.2) inset;
}
.news__input--button {
  position: relative;
  font-variant: small-caps;
  text-transform: lowercase;
  color: #fff;
  letter-spacing: 1px;
  background-color: rgba(163, 166, 88, 0.8);
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  outline: none; /* remove Webkit glow */
}
.news__input--button:active {
  top: 2px;
  box-shadow: none;
}
.asterisk { color: red; }
.indicates-required { font-size: 80%; font-style: italic; }







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

  .header-container { 
    border-bottom-width: 4em;
    overflow: hidden;
  }

  .header__title {
    font-size: 400%;
    width: 8em;
    padding-left:  0.4em;
    padding-right: 0.2em; /* right: 0.4em - letter-spacing */
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    float: right;
    width: 38%;
  }
  
  .icon--head { 
    font-size: 400%; 
  }

}

@media only screen and (min-width: 900px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 810px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}