#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'
Compass.add_project_configuration 'compass_config.rb'

ENV['NANOC_ENV'] ||= 'development'

BYPASS_FILES = %w(404.html crossdomain.xml humans.txt robots.txt googlebd82924855df6b5d.html) unless defined?(BYPASS_FILES)
is_deploying = false

class Nanoc::RuleDSL::RuleContext
  # Null CacheBuster replacement
  def fingerprint(something)
    ''
  end
end

class Nanoc::Site
  attr_accessor :tags
end

# from https://github.com/mgutz/nanoc3_blog/blob/master/Rules
preprocess do
  config[:env] = ENV['NANOC_ENV'] ||= 'development'
  config[:is_deploying] = config[:env] == 'deployment'
  is_deploying = config[:is_deploying]
  
  # authors may unpublish items by setting meta attribute publish: false
  items.delete_if { |item| item[:publish] == false }
  
  def tag_posts
    tags = tags()
    
    tags.each do |tag|
      @items.create(
        "",
        {
          :title => %Q{Posts tagged &ldquo;#{tag}&rdquo;},
          :tag => tag,
          :mtime => Time.now#parse(Date.now) # for the sitemap
          # TODO ^-- this is wrong, use last post
        },
        "/posts/tags/#{tag}/"
      )
    end
  end
  
  years, months = Post::years_and_months(posts())

  years.each do |year|
    @items.create(
      "<%= render '_posts_per_time', :from => '#{year}-01-01', :to => '#{year}-12-31' %>",
      {
        :title => %Q{Posts from #{year}},
        :mtime => Time.now # TODO last post
      },
      "/posts/#{year}"
    )
  end
  
  months.map { |m| Month.new(m) }.each do |month|    
    @items.create(
      "<%= render '_posts_per_time', :from => '#{month.first_day}', :to => '#{month.last_day}' %>",
      {
        :title => %Q{Posts from #{month.title} #{month.year}},
        :mtime => Time.now # TODO last post
      },
      month.post_url
    )
  end
  
  # paginate_worklog
  tag_posts
end

BYPASS_FILES.each do |file|
  compile("/#{file.sub( /\..+/, '')}/") do
    # don't filter bypass files
  end
end

compile %r{/_.+/$} do
  nil # don't compile partials
end


# static DS
compile '/assets/*' do
end

compile '/css/*/' do
  filter :erb          # Use erb to enable timestamps and author information and such.
  filter :sass, Compass.sass_engine_options
  #filter :cache_buster
end

compile '/js/*/' do
   filter :concat_js
   filter :uglify_js
end

compile '/img/*/' do
  #filter :image_compressor, IMAGE_COMPRESS_OPTIONS if item.binary? && is_deploying
end

compile %r{^/(sitemap|htaccess)/$} do
  filter :erb
end


#
# Blog
#

compile '/feed/' do
  filter :erb
  # no layout
end

compile '/feed/*/' do
  filter :erb
  # no layout
end

compile '/posts/tags/' do
  filter :erb
  filter :kramdown
  filter :typogruby
  
  layout 'plain'
  #filter :cache_buster if is_deploying
end

compile '/posts/tags/*/' do
  filter :erb
  
  layout 'tags'
  #filter :cache_buster if is_deploying
end

compile %r</posts/\d{4}(/\d{2})?/$> do
  filter :erb
  layout 'plain'
  #filter :cache_buster if is_deploying
end

compile '/posts/overview/' do
  filter :erb
  filter :kramdown
  filter :typogruby
  
  layout 'plain'
  #filter :cache_buster if is_deploying
end

compile '/posts/*/' do
  if item.binary?
    # don't need this since the post images are stored outside anyway
    #   filter :thumbnailize, :width => 1500
  else # don’t filter binary items
    filter :erb
    
    if item[:lang] == 'mmd'
      filter :mmd
    else
      filter :kramdown
    end
    
    filter :typogruby
    filter :add_ids_to_headers
    
    layout 'blog'
    
    filter :add_toc
    if item[:toc]
      #filter :redcarpet, :renderer => Redcarpet::Render::HTML_TOC, :renderer_options => { :with_toc_data => true }
    end
    
    #filter :cache_buster if is_deploying
  end
end


#
# Misc content
#

compile '/*' do
  if item.binary?
    # don’t filter binary items
  else
    case item[:extension]
      when 'md', 'markdown', 'txt', 'text'
        filter :erb
        filter :kramdown
        filter :typogruby
      when 'haml'
        filter :haml
      else
        filter :erb
        filter :typogruby
    end
    
    if item[:layout]
      layout item[:layout]
    else
      layout 'plain'
      # layout 'default' # use if basic `section > h1` setting doesn't suffice
    end
    
    #filter :cache_buster if is_deploying
  end
end


############################################################################


BYPASS_FILES.each do |file|
  route("/#{file.sub(/\..+/, '')}/") do
    "/#{file}" # route bypass files as is
  end
end

# static data source
#passthrough '/assets/*'
route '/assets/*' do
  # /static/foo.html/ → /foo.html
  item.identifier[7..-2]
end

route %r{/_.+/$} do
  nil # don't route partials
end

route '/htaccess/' do
  '/.htaccess'
end

route '/feed/' do
  '/feed.atom'
end

route 'sitemap' do
  item.identifier.chop + '.xml'
end

route '/css/*/' do
  fp = is_deploying ? fingerprint(item[:filename]) : ''
  item.identifier.chop + fp + '.css'
end

route '/js/*/' do
  fp = is_deploying ? fingerprint(item[:filename]) : ''
  item.identifier.chop + fp + '.js'
end

route '/posts/*' do
  if item.binary?
    id = item.identifier.components.last
    post_id = item.identifier.components[-2]

    '/posts/' + post_id + "/" + id + '.' + item[:extension]
  elsif item[:kind] == 'article'
    id = item.identifier.components.last
    '/posts/' + id + '/index.html'
  else 
    item.identifier + '/index.html'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

############################################################################

layout '*', :erb
