---
title: Zettelkasten Creative Knowledge Work
layout: default
bodyclass: homepage
lang: de
canonical: "/"
---

<section id="posts">
  <header>
      <h1>Neueste Beiträge</h1>
  </header>

  <% sorted_posts().take(5).each do |post| %>
    <%= render '/_post.*', :post => post, :fulltext => false %>
  <% end %>

  <!-- TODO: Link to blog archive in German when >5 posts -->
  <aside class="note">
    <p>Wir haben erst kürzlich angefangen, auch auf Deutsch zu veröffentlichen. Viele Artikel sind derzeit nur <a href="/posts/" hreflang="en">auf Englisch verfügbar</a>.</p>
  </aside>
</section>

<%= render '/_vanilla_count.*' %>
