---
title: Zettelkasten knowledge and info management
layout: default
bodyclass: homepage
lang: de
canonical: "/"
---

<section id="posts" class="grid-whole">
  <header>
      <h1>Neueste Beiträge</h1>
  </header>

  <% sorted_posts().take(5).each do |post| %>
    <%= render '/_post.*', :post => post, :fulltext => false %>
  <% end %>

  <hr />

  <footer>
    <p>Die deutschen Artikel befinden sich noch im Aufbau. <a href="/" hreflang="en">Viel mehr gibt es hier auf Englisch.</a></p>
  </footer>
</section>

<%= render '/_vanilla_count.*' %>
