---
title: Zettelkasten knowledge and info management
layout: default
---

<%= render '_newsletter_signup' %>

<hr />

<section id="posts" class="grid-whole">
  <header>
      <h1>Latest Posts</h1>
  </header>

  <% sorted_posts()[0..5].each do |post| %>
    <%= render '_post', :post => post %>
  <% end %>
  
  <hr />

  <footer>
    <p>Want to read more?</p>
    <ul>
      <li>Show <a href="/posts/2015/">all Posts from 2015</a></li>
      <li>Browse the <a href="/posts/">Post Archive</a></li>
    </ul>
  </footer>
</section>
