---
title: Zettelkasten knowledge and info management
layout: default
bodyclass: homepage
---

<section id="posts" class="grid-whole">
  <header>
      <h1>Latest Posts</h1>
  </header>

  <% sorted_posts().take(5).each do |post| %>
    <%= render '/_post.*', :post => post, :fulltext => false %>
  <% end %>

  <hr />

  <footer>
    <ul class="actions grid-whole clearfix">
      <li class="action__item action__item--button">
        <a class="action action--gotoblog" href="https://zettelkasten.de/posts/">Read more in the Blog Archive</a>
      </li>
    </ul>
  </footer>
</section>

<%= render '/_vanilla_count.*' %>
