<section class="book-ad">
    <h1 class="title book-ad__title">The Zettelkasten Method &ndash; German Edition</h1>

    <div>
      <a href="http://www.amazon.de/gp/product/1517734312/ref=as_li_tl?ie=UTF8&camp=1638&creative=19454&creativeASIN=1517734312&linkCode=as2&tag=saschafastde-21" class="book-ad__cover-link">
        <img src="/img/zettelkasten-book-de.jpg" alt="book cover" class="book-ad__cover" />
      </a>
    </div>

    <div>
      <p class="book-ad__info">Staying on top is key to manage knowledge and information. It's important to be quick and have a flexible process you can trust to achieve this.</p>
      <p class="book-ad__info">The Zettelkasten Method is that flexible technique to deal with knowledge in an individual way. You can realize the principles with a few keystrokes without having to learn complex or expensive software.</p>
      <p class="book-ad__info">The Zettelkasten Method is second to none in its power and simplicity. Your Zettelkasten will become the almost invisible helper throughout your day and life.</p>
      <p class="book-ad__info" lang="de">
        <strong><a href="http://www.amazon.de/gp/product/1517734312/ref=as_li_tl?ie=UTF8&camp=1638&creative=19454&creativeASIN=1517734312&linkCode=as2&tag=saschafastde-21">Auf amazon.de kaufen</a></strong><br />
        <a href="http://amzn.to/1LwqsJ0">Buy on amazon.com</a>
      </p>
      </div>
</section>
