<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = '<%= Comments::shortname_for(@item) %>';
    var disqus_identifier = '<%= Comments::identifier_for(@item) %>';
    var disqus_title = '<%= Comments::title_for(@item) %>';
    var disqus_url = '<%= [@config[:base_url], @item.path].join() %>';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
