<hr/>

<p>Comments are powered by <a href="https://forum.zettelkasten.de/">our forums.</a> Sign up there to join the discussion.</p>

<div id="vanilla-comments"></div>
<script type="text/javascript">
    var vanilla_forum_url = 'https://forum.zettelkasten.de';
    var vanilla_identifier = '<%= Comments::identifier_for(@item) %>';
    var vanilla_category_id = '11';
    var vanilla_title = '<%= Comments::title_for(@item) %>';
    <% if @item[:discussion_id] != nil? %>
    var vanilla_discussion_id = '<%= @item[:discussion_id] %>';
    <% end %>

    /*** DON'T EDIT BELOW THIS LINE ***/
    (function() {
    var vanilla = document.createElement('script');
    vanilla.type = 'text/javascript';
    var timestamp = new Date().getTime();
    vanilla.src = vanilla_forum_url + '/js/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(vanilla);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://vanillaforums.com/?ref_noscript">comments powered by Vanilla.</a></noscript>
