<footer id="footer">
  <section class="search">
    <%= render '/_search_box.*' %>
  </section>

  <section>
    <h3>Getting Started</h3>
    <ul>
      <li><a href="/introduction">Zettelkasten Method Introduction</a></li>
      <li><a href="https://zettelkasten.de/overview">Article Overview</a></li>
      <li><a href="/posts">Blog Post Index</a></li>
    </ul>
  </section>

  <section>
    <h3>Stay up-to-date</h3>
    <ul>
      <li><a href="/feed.atom"><span aria-hidden="true" class="iconic iconic-sm feed" width="16" data-glyph="rss"></span> Blog Feed</a></li>
      <li><a href="https://zettelkasten.de/newsletter">Newsletter</a></li>
    </ul>
  </section>

  <section>
    <h3>Community</h3>
    <ul>
      <li><a href="/community">Community Hub</a></li>
      <li><a href="https://forum.zettelkasten.de/">Forum</a></li>
      <li><a href="/authors/">Blog Authors</a></li>
    </ul>
  </section>

  <section class="copyright">
    Except where otherwise noted, content on this site is licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. <a href="/legal/">Contact &amp; Legal Notice</a>
  </section>
</footer>

<dialog id="newsletter-signup" class="modal dialog">
  <div class="dialog-container">
    <a href="#close" aria-label="Close" class="close" data-target="newsletter-signup" onclick="toggleModal(event)">
      <span aria-hidden="true" class="iconic" data-glyph="x"></span> <span aria-hidden="true" class="visuallyhidden">Close</span>
    </a>
    <%= render '/_newsletter_signup.*' %>
  </div>
</dialog>
