<footer id="footer">
  <section class="search">
    <%= render '/_search_box.*' %>
  </section>

  <section>
    <h3>Getting Started</h3>
    <ul>
      <li><a href="/introduction">Zettelkasten Method Introduction</a></li>
      <li><a href="https://zettelkasten.de/overview">Article Overview</a></li>
      <li><a href="/posts">Blog Post Index</a></li>
    </ul>
  </section>

  <section>
    <h3>Stay up-to-date</h3>
    <ul>
      <li><a href="/feed.atom"><span aria-hidden="true" class="iconic iconic-sm feed" width="16" data-glyph="rss"></span> Blog Feed</a></li>
      <li><a href="https://zettelkasten.de/newsletter">Newsletter/Email Subscription</a></li>
    </ul>
  </section>

  <section>
    <h3>Community</h3>
    <ul>
      <li><a href="/community">Community Hub</a></li>
      <li><a href="/authors/">Authors</a></li>
    </ul>
  </section>

  <section class="copyright">
    Except where otherwise noted, content on this site is licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. <a href="/legal/">Contact &amp; Legal Notice</a>
  </section>
</footer>
