<footer id="footer" class="wrapper content-wrapper clearfix">
  <div class="footer-main grid-whole padded">
    <div class="footer-search grid-whole">
      <%= render '/_search_box.*' %>
    </div>
    <div class="grid-whole">
      <p>
        <small>This site was built by <a href="http://christiantietze.de/">Christian Tietze</a>. <a href="/feed.atom"><img class="iconic iconic-sm feed-icon" data-src="/img/rss.svg" width="16"> Blog Feed</a><br>
        <i>Except where otherwise noted, content on this site is licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>.</i> <a href="/legal/">Contact &amp; Legal Notice.</a> <a href="https://plus.google.com/102196782706238603750" rel="publisher">Google+</a></small>
      </p>
    </div>
  </div>
</footer>