<% 
lang = item[:lang] || @site.config[:meta_data][:lang] 
if lang == "en" 
%>
<p>
  <small><a href="/about">About this site</a> &bull; 
    Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 License</a>.</small>
</p>
<% elsif lang == "de" %>
<p>
  <small><a href="/about">Über diese Website</a> &bull; 
    Solange nicht anders gekennzeichnet, untestehen die Inhalte dieser Seite der <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 License</a>.</small>
</p>
<% end %>
