<footer id="footer" class="wrapper content-wrapper clearfix">
  <div class="footer-main grid-whole padded">
    <div class="footer-search grid-whole">
      <%= render '/_search_box.*' %>
    </div>
    <div class="grid-whole">
      <p>
        <small>Stay up-to-date: <a href="/feed.atom"><span aria-hidden="true" class="iconic iconic-sm feed" width="16" data-glyph="rss"></span> Blog Feed</a> &bull; <a href="https://zettelkasten.de/newsletter">Newsletter/Email Subscription</a></small>
      </p>

      <p>
        <small><a href="/community">Community Hub</a> &bull; <a href="/authors/">Authors</a></small>
      </p>

      <p>
        <small>
        <i>Except where otherwise noted, content on this site is licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>.</i> <a href="/legal/">Contact &amp; Legal Notice</a>
      </p>
    </div>
  </div>
</footer>
