<nav id="navigation" class="hamburger-container">
  <input type="checkbox" id="hamburger-toggle" aria-label="hamburger" aria-controls="main-navigation" aria-expanded="false"/>
  <label for="hamburger-toggle" id="hamburger" aria-hidden="true">
    <span class="slice"></span>
    <span class="slice"></span>
    <span class="slice"></span>
  </label>
  </button>
  <ul id="main-navigation" class="main-navigation">
    <%= render_menu_items %>
  </ul>
</nav>
