<section class="clearfix" class="newsletter">
    <h1 class="title newsletter__title">Subscribe to our mailing list</h1>
    <p class="newsletter__info">Receive project news, announcements, and special offers for our Zettelkasten products before anybody else does.  No spam, ever. <a href="http://us5.campaign-archive1.com/home/?u=9aad95d757e454078fe42ae23&id=d06cc48a0f" title="To the archive!">View past issues.</a></p>
    
    <form action="http://christiantietze.us5.list-manage.com/subscribe/post?u=9aad95d757e454078fe42ae23&amp;id=d06cc48a0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <label class="news__label grid-whole" for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
        <div class="grid-whole">
          <div class="s-grid-whole grid-two-thirds m-padded-right l-padded-right">
            <input type="email" value="" name="EMAIL" class="news__input news__input--email required" id="mce-EMAIL">
          </div>
          <div class="s-grid-whole grid-third m-padded-left l-padded-left">
            <input type="submit" value="Subscribe to the List" name="subscribe" id="mc-embedded-subscribe" class="news__input news__input--button">
          </div>
        </div>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    </form>
</section>
