<section class="clearfix newsletter">
  <h1 class="title newsletter__title">Subscribe to our mailing list</h1>
  <p class="newsletter__info">Receive project news, announcements, and special offers for our Zettelkasten products before anybody else does. <a href="http://us5.campaign-archive1.com/home/?u=9aad95d757e454078fe42ae23&id=d06cc48a0f" title="To the archive!">View past issues</a> to see that we keep the promise to stay relevant.</p>

  <form action="https://newsletter.christiantietze.de/subscribe" method="POST" accept-charset="utf-8">
    <input type="hidden" name="list" value="vGdm8DaHEoRuG7zMEPyC3w"/>
    <input type="hidden" name="subform" value="yes"/>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="hp" id="hp" tabindex="-1" value=""/></div>

    <div class="grid-whole">
      <label class="news__label grid-whole" for="email">Email Address <span class="asterisk">*</span></label>
      <input type="email" value="" name="email" class="news__input news__input--email required" id="email">
    </div>

    <div class="grid-whole">
      <input type="checkbox" name="gdpr" id="gdpr"/>
      <label class="news__label news__label--checkbox" for="gdpr"><q>I give my consent to be in touch with me via email using the information I have provided in this form for the purpose of news, updates and marketing.</q></label>
    </div>

    <div class="grid-whole">
	  <p class="newsletter__info">We will not share your data with anybody else. We will not send spam, ever. See <a href="/legal/#newsletter">our privacy policy</a> for details. We host the newsletter stuff ourselves, so there's no third party involved.</p>
      <span><strong>What to expect</strong>: If you wish to withdraw your consent and stop hearing from us, simply click the unsubscribe link at the bottom of every email we send or contact us at newsletter@zettelkasten.de. We value and respect your personal data and privacy. To view our privacy policy, please visit our website. By submitting this form, you agree that we may process your information in accordance with these terms.</span>
    </div>

    <div class="grid-whole">
      <input type="submit" value="Subscribe to the List" name="submit" id="submit" class="news__input news__input--button">
    </div>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
  </form>
</section>
