<section class="clearfix newsletter">
    <h1 class="title newsletter__title">Subscribe to our mailing list</h1>
    <p class="newsletter__info">Receive project news, announcements, and special offers for our Zettelkasten products before anybody else does. <a href="http://us5.campaign-archive1.com/home/?u=9aad95d757e454078fe42ae23&id=d06cc48a0f" title="To the archive!">View past issues.</a></p>
    
    <form action="http://christiantietze.us5.list-manage.com/subscribe/post?u=9aad95d757e454078fe42ae23&amp;id=d06cc48a0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <div class="grid-whole">
          <label class="news__label grid-whole" for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" value="" name="EMAIL" class="news__input news__input--email required" id="mce-EMAIL">
        </div>
        <div class="grid-whole">
          <label class="checkbox" for="gdpr_2369"><span>Permission to hear from us via email</span></label>
          <input id="gdpr_2369" name="gdpr[2369]" type="checkbox">
        </div>
        <div class="grid-whole">
          <p class="newsletter__info">We write to inform you about our work and thus to market our own products. We will not share your data with anybody else. No spam, ever. You can change your mind anytime and unsubscribe from within emails or by <a href="/legal/">contacting us. We use MailChimp as our marketing automation platform. By clicking below to submit this form, you acknowledge that the information you provide will be transferred to MailChimp for processing in accordance with their <a href="https://mailchimp.com/legal/privacy/">Privacy Policy</a> and <a href="https://mailchimp.com/legal/terms/">Terms</a>.</a></p>
        </div>
        <div class="grid-whole">
          <input type="submit" value="Subscribe to the List" name="subscribe" id="mc-embedded-subscribe" class="news__input news__input--button">
        </div>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    </form>
</section>
