<article class="allposts__post minimalpost post--minimal card">
  <header>
    <h3 class="minimalpost__title"><%= Post::post_title_link_for(@post) %></h3>
    <div class="minimalpost__meta"><%= Date::MONTHNAMES[Post::date_of(@post).month].to_s + " " + Post::date_of(@post).year.to_s %></div>
  </header>
  <%= Post::teaser_for(@post, class: "teaser") %>
  <p class="description"><%=@post[:description]%></p>
</article>
