<% if @item[:newsletter] == true %>
  <aside id="article_hook" class="inset-box">
    <p>This post was first published on our newsletter! Sign up now to receive more like this straight to your inbox, plus course announcements, product news, and community updates.</p>
    <a href="/newsletter" class="newsletter-signup-widget" data-target="newsletter-signup" onclick="toggleModal(event)">
      <div class="box">
        <span aria-hidden="true" class="iconic envelope" data-glyph="envelope-closed"></span> <span class="email">niklas@luhmann.de</span> <span class="subscribe">Send me More Like This</span>
      </div>
    </a>
  </aside>
<% else %>
  <aside id="article_hook" class="inset-box">
    <p>Enjoyed this article? Sign up now to receive course announcements, product news, and community updates first.</p>
    <a href="/newsletter" class="newsletter-signup-widget" data-target="newsletter-signup" onclick="toggleModal(event)">
      <div class="box">
        <span aria-hidden="true" class="iconic envelope" data-glyph="envelope-closed"></span> <span class="email">niklas@luhmann.de</span> <span class="subscribe">Subscribe</span>
      </div>
    </a>
  </aside>
<% end %>
