<article class="allposts__post minimalpost post--minimal card">
  <header>
  <h3 class="minimalpost__title"><%= link_to(@post[:title], @post.path) %></h3>
  </header>
  <p class="description"><%=@post[:description]%></p>
</article>
