<form class="grid-whole search" action="https://duckduckgo.com/?kp=-1&kl=us-en&kg=g" method="get" accept-charset="utf-8" role="search" aria-label="Sitewide">
  <input type="hidden" name="sites" value="zettelkasten.de">
  <div class="s-grid-whole m-grid-8 l-grid-8 l-padded-right m-padded-right">
    <input type="text" placeholder="Search zettelkasten.de" name="q" spellcheck="false" class="search__text">
  </div>
  <div class="s-grid-whole m-grid-4 l-grid-4 l-padded-left m-padded-">
    <input type="submit" value="Search" class="search__action">
  </div>
</form>