<% if item_has_toc? %>
  <section id="toc">
    <nav aria-label="Table of Contents">
      <header>Table of Contents</header>
      {{TOC}}
    </nav>
    <a href="#top" class="totop">↑ Return to Top</a>
    <div class="toc-buffer"></div>
  </section>
<% end %>
