<section id="newsletter">
  <header>Zettelkasten News</header>
  <p>Sign up now to receive course announcements, product news, and community updates first.</p>
  <a href="" class="signup">
    <div class="box">
      <span aria-hidden="true" class="iconic envelope" data-glyph="envelope-closed"></span> <span class="email">niklas@luhmann.de</span> <span class="subscribe">Subscribe</span>
    </div>
  </a>
</section>

<% if item_has_toc? %>
  <section id="toc">
    <header>Table of Contents</header>
    <nav aria-label="Table of Contents">
      {{TOC}}
    </nav>
    <a href="#top" class="totop">↑ Return to Top</a>
    <div class="toc-buffer"></div>
  </section>
<% end %>
