<%
if @position == 'below-features' || @position == 'below-community'
  buy_grid      = "s-grid-12 m-grid-8 l-grid-8 l-padded-right m-padded-right"
  download_grid = "s-grid-12 m-grid-4 l-grid-4 l-padded-left m-padded-left"
  app_info_grid = "hidden"
elsif @position == 'roadmap'
  buy_grid      = "s-grid-12 m-grid-8 l-grid-8 l-padded-right m-padded-right"
  download_grid = "s-grid-12 m-grid-4 l-grid-4 l-padded-left m-padded-left"
  app_info_grid = "s-grid-12 m-grid-12 m-grid-12"
else
  buy_grid      = "s-grid-12 m-grid-12 l-grid-12"
  download_grid = "s-grid-12 m-grid-6 l-grid-4"
  app_info_grid = "s-grid-12 m-grid-6 l-grid-8"
end
%>

<ul class="actions grid-whole clearfix">
  <li class="action__item action__item--button <%=buy_grid%>">
    <a class="action action--buy" href="https://zettelkasten.onfastspring.com/the-archive?source=zettelkasten&campaign=position-<%= @position ? @position : 'unknown' %>" data-fsc-action="Reset,Add,Checkout" data-fsc-item-path-value="the-archive">Buy Now</a>
  </li>

  <li class="action__item action__item--button <%=download_grid%>">
    <a href="/the-archive/download" class="action action--download">Download</a>
  </li>

  <li class="action__item action__item--info <%=app_info_grid%>">
    <p class="appinfo <%= "appinfo--left" unless @bottom == true %>">60 Day Free Trial<br>Requires at least macOS 10.11 and is ready for macOS 13 Ventura. <button class="sha-button">Checksum</button></p>
  </li>
</ul>
