<% render '/default.*', :layout_variant => "the-archive" do %>
<div class="grid-whole padded">
    <%= yield %>
</div>
<script id="fsc-api" src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.5/fastspring-builder.min.js" type="text/javascript" data-storefront="zettelkasten.onfastspring.com/popup-zettelkasten"></script>

<!-- SHA popover -->
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
  tippy('.sha-button', {
    trigger: 'click',
    interactive: true,
    content: "SHA256 Checksum:\nc7cab9bf2f37df436fea603939d7f49d6b7a57f3e6e639ac03e1bb712312d60d",
    arrow: true,
    maxWidth: '40em'
  })
</script>
<% end %>
