<% render '/default.*', :layout_variant => "the-archive" do %>
<div class="grid-whole padded">
    <%= yield %>
</div>
<script id="fsc-api" src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.5/fastspring-builder.min.js" type="text/javascript" data-storefront="zettelkasten.onfastspring.com/popup-zettelkasten"></script>

<!-- SHA popover -->
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
  tippy('.sha-button', {
    trigger: 'click',
    interactive: true,
    content: "SHA256 Checksum:\ne9c9fac4e2629bfaa759134d6f2665479179932355a61dd0aa530f967f5aaf2c",
    arrow: true,
    maxWidth: '40em'
  })
</script>
<% end %>
