---
title: The Archive (macOS)
description: A macOS note-taking app for prolific writers and productive researchers.
layout: the-archive
---

<section class="hero">
  <h1 class="appname">The Archive</h1>
  <h2 class="tagline">Note Taking: Nimble, Calm, Plain.txt</h2>
  <img src="/the-archive/img/hero-light.png" />

  <p class="two-sentence">Note Taking is the bridge between thinking and crafting text. Take it seriously. You will be pleased how much you creative work will improve.</p>
  
  <%= render '/_the-archive-actions.*', :position => 'hero' %>
</section>

<section class="monomyth grid-whole">
  <p><strong>Chaos is lurking.</strong> Being overwhelmed with information, projects and deadlines means chaos. Many don&rsquo;t take note taking seriously. But good note taking is the antidote to chaos. With a good tool you can tame the chaos and impose <em>your</em> will. Not any longer overwhelmed with the problem but with a clear vision of the path, you will tackle blogposts, books, scientific articles, and research with grace and stay in command, rather than react to the chaos surrounding you.</p>

  <p><em>The Archive</em> will be a powerful yet very clean tool to take notes. You no longer will be overwhelmed but impose your order on the chaos of information. <em>The Archive</em> will enrich your workflow with competent note taking: Access knowledge in an instant and in order.</p>

  <p>Take it seriously. Take notes. Take them well. Use <em>The Archive</em>, the weapon of the gods. </p>
  
  <p class="monomyth__signature">&mdash; <span class="names">Christian & Sascha</span><br/><span class="title">Authors at Zettelkasten.de</span></p>
</section>

<section class="features">
  <article class="feature grid-whole">    
    <div class="l-grid-8 m-grid-8 s-grid-12 l-padded-right m-padded-right">
      <h3 class="feature-title">Plain Text File Storage</h3>
      <p class="feature-desc">You want your notes to be robust and made for eternity. Plain Text is the way to go. It&#8217;s the most robust and durable file format. It allows you to use Markdown which makes your life infinitely better anyhow.</p>
    </div>

    <div class="feature-img-container l-grid-4 m-grid-4 s-grid-12 l-padded-left m-padded-left">
      <img class="feature-img feature-img--plaintext" src="/the-archive/img/plaintext.png" />
    </div>
  </article>
  
  <article class="feature grid-whole">
    <div class="feature-img-container l-grid-5 m-grid-12 s-grid-12 l-padded-right m-padded-right">
      <div class="c-window">
        <div class="c-titlebar"><div class="c-bubble"></div><div class="c-bubble"></div><div class="c-bubble"></div></div>
        <div class="c-omnibar"></div>
        <div class="c-body">
          <div class="c-results"></div>
          <div class="c-fatbar"></div>
          <div class="c-text"><span class="c-write">write.<span class="c-cursor"></span></span></div>
        </div>
      </div>
    </div>

    <div class="l-grid-7 m-grid-12 s-grid-12 l-padded-left m-padded-left">
      <h3 class="feature-title">Clean and Simple User Interface</h3>
      <p class="feature-desc">In a distracted world, deep concentration becomes scarce and incredibly valuable. A clean and simple user interface is our small contribution to the value of your creative life.</p>

    </div>
  </article>
  
  <article class="feature grid-whole">
    <div class="l-grid-8 m-grid-8 s-grid-12 l-padded-right m-padded-right">
      <h3 class="feature-title">Elegant Text Editor</h3>
      <p class="feature-desc">Note-taking is writing. A big part of the life of a creative person is taking notes. A bit of beauty is not only nice to have but mandatory.</p>
    </div>

    <div class="feature-img-container l-grid-4 m-grid-4 s-grid-12">
      <img class="feature-img feature-img--elegant" src="/the-archive/img/elegant-editor.png" />
    </div>
  </article>
  
  <article class="feature grid-whole">
    <div class="feature-img-container l-grid-4 m-grid-4 s-grid-12 l-padded-right m-padded-right">
      <img class="feature-img feature-img--knife" src="/the-archive/img/knife.png" />
    </div>
    
    <div class="l-grid-8 m-grid-8 s-grid-12 l-padded-left m-padded-left">
      <h3 class="feature-title">Swiss Army Knife of Note Taking</h3> 
      <p class="feature-desc">A tool should serve <em>you</em>, not the other way around. Use <em>The Archive</em> your own way and don&#8217;t be forced into unnatural habits. Note-taking, Getting Things Done, a thinking environment, or even as a database for entomology (scientific study of insects) &#8211; <em>The Archive</em> will do the job.</p></p>
    </div>
  </article>
  
  <article class="grid-whole">
    <div class="l-grid-6 m-grid-6 s-grid-12 l-padded-right m-padded-right">     
      <ul class="feature-shortlist">
        <li><strong>Fast search</strong> for maximum productivity</li>
        <li><strong>Markdown</strong> support to highlight notes</li>
        <li><strong>Powerful tags</strong> that are simple to use</li>
        <li><strong>Typewriter mode</strong> to keep your focus while typing</li>
        <li><strong>Themes!</strong> Customize the editor to your liking</li>
        <li><strong>Quick navigation</strong> based on plain text conventions</li>
        <li><strong>Supportive community</strong> of writing nerds</li>
        <li><strong>Saved searches</strong> to switch between subsets of your notes</li>
      </ul>
    </div>
    
    <div class="feature-img-container l-grid-6 m-grid-6 s-grid-12">
      <img class="feature-img feature-img--theme" src="/the-archive/img/theme-montage.png" />
    </div>
  </article>
</section>

<section class="actions-row">
  <%= render '/_the-archive-actions.*', :position => 'below-features' %>
</section>

<section class="ethics grid-whole">
  <h2>Our Software Ethics</h2>

  <p><strong>Update Policy:</strong> We have a vision of the first version of <em>The Archive</em>. We are very up front about the features that will be included in version&nbsp;1 of <em>The Archive</em>. You can expect we implement all the features we announce for v1 and ship them as free updates. And we are bug hunters. We will do our best to kill all of them. <a href="/the-archive/roadmap/">Find out what we plan for version&nbsp;1!</a></p>

  <p><strong>Version Policy:</strong> We don&#8217;t like the thought of selling a paid version&nbsp;2 upgrade just because we need cash. We believe in being open and clear about our promises from the beginning. After the v1 is completed we will continue to ship stability updates and begin work on <em>The Archive</em> v2.</p>

  <p><strong>We value loyalty a lot!</strong> If you are a proud owner of this first release, you are part of the club. v2 will come with a nice discount for you. You will pay less for v1 + v2 combined than those who join in v2.</p>
</section>

<section class="community grid-whole">
  <h2>Backed by an Awesome Community</h2>
  
  <p>Our forums host cutting-edge discussion on the very nature of knowledge management. Join the fun and tell others about your journey, get feedback, and become part of a community of productive learners!</p>
  
  <blockquote>
    <p>Once you&#8217;ve built up a critical mass of interlinked notes, you&#8217;ll discover you know things you didn&#8217;t even know you know!<br/><cite>&mdash;<a href="http://swift-passage.com">Michael Grant</a></cite></p>
  </blockquote>
  
  <blockquote>
    <p>The Archive will be the perfect tool for this lifelong decision, following the path of the text... :)<br/><cite>&mdash;Leonardo Wolff</cite></p>
  </blockquote>
  
  <blockquote>
    <p>The Archive is relatively fiddle-proof, which is one of the reasons I find working with it productive, even if it doesn&#8217;t have all the features I want.<br/><cite>&mdash;Galen Menzel</cite></p>
  </blockquote>
  
  <blockquote>
    <p>I have used many different editors for keeping up with my notes. Being a missionary, freelance programmer, and a tech-writer means I have all kinds of notes. The Archive does a great job and I use it all the time. Thanks for such a great product!<br/><cite>&mdash;Richard Guay, <a href="http://customct.com">Custom Computer Tools</a></cite></p>
  </blockquote>
  
  <blockquote>
    <p>As a lead developer and team member, I constantly take notes on the fly. The Archive gives me the ability to quickly make a note using markdown thanks to the clean interface. When I need to refer back to my notes the fast search gives me quick access to my library.<br/><cite>&mdash;<a href="https://peterwitham.com">Peter Witham</a>, Developer and Designer</cite></p>
  </blockquote>
  
  <blockquote>
    <p>The Archive blends the power and simplicity of nvALT with the elegance and efficacy of a digital Zettelkasten system to bring order and clarity to your note-taking system.<br/><cite>&mdash;macosxguru, in <a href="http://bicycleforyourmind.com/the_archive_review">a review at Bicycle For Your Mind</a></cite></p>
  </blockquote>
</section>

<section class="actions-row">
  <%= render '/_the-archive-actions.*', :position => 'below-community' %>
</section>

<footer class="grid-whole">
  <hr class="resources-rule" />
  <ul class="resources">
    <li><a href="/the-archive/download/">Download</a></li>
    <li><a href="/the-archive/release-notes/">Release Notes</a></li>
    <li><a href="/the-archive/roadmap/">Feature Roadmap</a></li>
    <li><a href="https://github.com/Zettelkasten-Method/The-Archive-Themes">Theme Directory</a></li>
    <li><a href="/the-archive/help/">Help</a></li>
    <li><a href="/the-archive/help/">Press Kit</a></li>
  </ul>
</footer>