.actions {
  font-family: $font-sans;

  text-align: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  margin-bottom: 2rem;
}
.actions-row {
  margin: 0;

  @media only screen and (min-width: $large-breakpoint) {
    margin: 2rem 0;
  }
}

.action__item.action__item--button {
  display: block;
  margin-top: 2rem;
}

.action__item.action__item--info {
  // Vertically align with button to its left in larger layout, stay close in small layout stacks
  @media only screen and (min-width: $medium-breakpoint) {
    margin-top: 2rem;
  }
}


.action {
  padding: 1rem 2rem;
  display: block;
  box-sizing: border-box;
  border-bottom-width: 0 !important;

  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  border-radius: 2px;

  &:hover {
    color: white;
  }
}

.action--download {
  background-color: #4ecb19;
  background-image: linear-gradient(to bottom, #4ecb19 0%, #2cb01a 100%);
}
.action--download:hover {
  background-color: darken(#4ecb19, 5%);
  background-image: linear-gradient(to bottom, darken(#4ecb19, 4%) 0%, darken(#2cb01a, 8%) 100%);
}

.action--buy {
  width: 100%;
  font-weight: bold;
  background: #5B6FDC;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #6875EF 0%, #5D66CE 100%);
}
.action--buy:hover {
  background: darken(#5B6FDC, 5%);
  background-image: linear-gradient(to bottom, darken(#5C6AE9, 8%) 0%, darken(#3440C2, 10%) 100%);
}

.action__icon {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.action--gotoblog {
  font-weight: bold;
  background: #5B6FDC;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #6875EF 0%, #5D66CE 100%);
}
.action--gotoblog:hover {
  background: darken(#5B6FDC, 5%);
  background-image: linear-gradient(to bottom, darken(#5C6AE9, 8%) 0%, darken(#3440C2, 10%) 100%);
}
