/****************************************************************************/
/*           https://piccalil.li/blog/a-more-modern-css-reset/              */
/*                                                                          */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  // list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: $vrhythm;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

input[type=search] {
  -webkit-appearance: textfield;  // Default special appearance won't style
}

button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}


/******************************************************************************/

html {
  color: $color-text;
  font-size: $base-size;
  @media only screen and (min-width: $medium-breakpoint) {
    font-size: $large-base-size;
  }
}

body {
  font-family: $font-base;
}


button,
input,
select,
textarea {
  color: $color-text;
  font-size: 1rem;
}

// Checkboxes in lists in posts are usually meant for visualization
.post li input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.5em;
  transform: scale(1.5);
}
.post li:has(input[type="checkbox"]) {
  list-style: none;
  margin-left: $list-indentation; // Increase indendation; checkboxes need more room
  input[type="checkbox"] {
    margin-left: -($list-indentation + 0.5em);
  }
}


audio:not([controls]) {
  display: none;
  height: 0;
}

a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
dfn { font-style: italic; }
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }

body {
  margin: 0;
  background: $color-background;
}

::-moz-selection {
    background: $color-selection;
    text-shadow: none;
}
::selection {
    background: $color-selection;
    text-shadow: none;
}

hr {
  height: 1px;
  display: block;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: transparent;
  border-top: 3px solid $color-separator;
  padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.announcement, label, input {
  font-family: $font-sans;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 160%;
  @media only screen and (min-width: $medium-breakpoint) {
    font-size: 2.2rem;
  }

  background-color: $color-background-header;
  background-image: url('/img/header.png');
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: auto 0.3em;
  box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.2rem 0.5rem;
}

.header__title {
  $letter-spacing: 0.2em;
  $color: white;
  color: $color;

  font-size: 1em; // use header-container size (so it can size the background based on font-size)
  font-weight: 700;
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
  text-shadow: 0 2px 0 rgba(0,0,0,0.4);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  text-align: center;
  line-height: 1.0;
  background-color: $color-background-header;
  margin: 0;
  padding-inline: clamp(0.2em, 5vw, 0.5em)
                  calc(clamp(0.2em, 5vw, 0.5em) - $letter-spacing);  // letter-spacing adds to the right-hand side
  margin-block: calc($vrhythm / 2);

  @media only screen and (min-width: $medium-breakpoint) {
    width: 9em; // fallback
    width: fit-content;
  }

  a.header__link, a.header__link:visited, a.header__link:hover {
    text-decoration: none;
    color: $color;
  }
}


.content-container,
.footer-container {
  display: flow-root;  // Clearfix effect: expand to cover contents
}

$margin-content-wrapper: 3%;
.content-container {
  max-width: 94%;
  margin-inline: $margin-content-wrapper;
}
.footer-container { background: $color-background-footer; }

#footer { font-family: $font-sans; }

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: $vrhythm 0;
}

.youtube iframe { // YouTube videos
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  // aspect-ratio: 1.77; // 1.7777=16:9, only available in Firefox
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; // 16:9 aspect ratio
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 { font-size: 2.2rem; line-height: 2 * $vrhythm;   margin-block: 0 $vrhythm; }
h2 { font-size: 1.6rem; line-height: 1.5 * $vrhythm; margin-block: 0 $vrhythm; }
h3 { font-size: 1.4rem; line-height: 1 * $vrhythm;   margin-block: 0 $vrhythm; }
h4 { font-size: 1.0rem; line-height: 1 * $vrhythm;   margin-block: $vrhythm $vrhythm; }
h5 { font-size: 1.0rem; line-height: 1 * $vrhythm;   margin-block: $vrhythm $vrhythm; }
h6 { font-size: 1.0rem; line-height: 1 * $vrhythm;   margin-block: $vrhythm $vrhythm; }
h1, h3, h5, h6 { font-family: $font-sans; }

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child)
{ margin-block-start: calc(2 * $vrhythm); }

a {
  color: $color-link;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.1em;
}
figure > a,
a.image-link {
  text-decoration: none;
}
a:hover {
  color: $color-link;
  text-decoration: none;
}
figure {
  margin-left: -$margin-content-wrapper;
  margin-right: -$margin-content-wrapper;
  font-style: italic;
  em, i {
    font-style: normal;
  }
}
figure a, figure a:hover {
  text-decoration: none;
}
pre {
  overflow: auto;
  background: white;
  $whitespace: 0.5rem;
  padding: $whitespace;
  margin-inline: -$whitespace;
}
code, pre {
  font-family: $font-mono;
  font-size: 94%; // about the same x-height of normal font
}
.language-markdown pre {
  white-space: pre-wrap;
  .gh { font-weight: bold; } // used for headings but also #hashtag lines
  .gs { font-weight: 600; }
  .ge { font-style: italic; }
}

.feed-icon {
  margin-left: 0.3em;
  * {
    fill: $color-link;
    stroke: $color-link;
  }
}

.announcement {
  background: rgba(181, 203, 48, 0.7);
}
.announcement__header { text-align: center; }
.icon--head {
  max-width: 4em;
  .iconic-property-fill {
    fill: $color-background-nav-main;
  }
}

/**
 * Blog
 */

ul { padding-inline-start: $list-indentation; }

ul > li > p { margin-top: 0; }

blockquote {
  font-style: italic;
  i, em { font-style: normal; }
}

// Remove large heading space between post title and its inevitable metadata; style .page__title in the same way for visual consistency. Limit post title to h1 to only target single post pages.
h1.post__title, .page__title { margin-bottom: 0; line-height: 2 * $vrhythm; }
h2.post__title { font-size: 1.4rem; margin-bottom: 0; line-height: $vrhythm; }

// (Clickable) Post titles
#posts .post__title {
  font-family: $font-sans;
  a, a:hover, a:visited, a:link {
    color: currentColor;
    text-decoration: none;
  }
}

.post--link {
  .post__title { font-size: $base-size; }
  .post__title::before { content: '→ ' };
}

.tags {
  display: inline;
  padding-left: 0;
  margin-left: 0;

  li {
    display: inline;
    list-style: none;
    padding-right: 0;
  }
}

/** Blog archive */

.posts__browse { font-size: $large-base-size; font-family: $font-sans; }
.allposts__post {}
.minimalpost{}
.post--minimal {}
.minimalpost__title {}
.minimalpost__time { font-size: $small-size; font-family: $font-sans; }
.minimalpost__author {}

/** Book Announcement Page */
.book_toc {
  font-family: 'PT Sans', sans-serif;
}
.book_toc, .book_toc ul {
  margin-top: 0;
  margin-bottom: 0;
}
.book_toc > li > ul {
  font-size: 0.8em;
}


/** Tables */
// Should look good on e.g.
// - https://zettelkasten.de/folgezettel/
// - https://zettelkasten.de/posts/barbell-method-reading/

// Remove most spacing between table cells.
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

article table {
  font-family: $font-sans;
  font-size: $small-size;
  margin: 0 auto;

  th,
  td {
    padding: 0.3em 0.5em;
    border: 1px solid $color-table-border;
    vertical-align: top;
  }
}

/** Tools Page */

.tool { font-family: $font-sans; }
.tool dd, .tool dt { margin-left: 0; }
.tool h3 { font-size: inherit; margin-bottom: 0; }
.tool ul { margin-top: 0; }
.tool-link { color: currentColor; text-decoration: none; }
.tool-icon { max-width: 14em; }
.tool-icon figure { margin: 0; }
.tool-icon__image { width: 80%; }
.tool-specs {}
.tool-specs__spec { display: inline; list-style-type: none;  color: $color-light; }
.tool-specs__spec:after { content: ' \00B7';}
.tool-specs__spec:last-child:after { content: ''; }
.tool-usage {}
.tool-usage__submit { list-style-type: none; }
.tool-author--single *, .tool-review * { display: inline; }
.tool-author--single h3, .tool-review h3 { margin-right: 0.5em; }

.post { margin-bottom: 2 * $vrhythm; }
// In a listing like the home page, increase spacing without collapsing margins
#posts .post + .post { padding-top: 2 * $vrhythm; }

.post__meta,
.page__meta {
  display: inline-block;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  list-style-type: none;
  font-size: $small-size;
  font-family: $font-sans;

  li { display: inline-block; }

  // Visually tone-down meta links to not distract from other links, esp. "Continue Reading"
  a, a:link, a:hover, a:visited { color: $color-text; }
  a, a:link, a:visited { border-color: $color-text; }
  a:hover { border-color: transparent; }
}
.post header .post__meta,
.post header .page__meta {
  margin-bottom: $vrhythm
}
.post footer .post__meta,
.post footer .page__meta {
  margin-bottom: 0;
}

.post__languages {
  font-family: $font-sans;
  display: block;
}
.post footer .post__languages { margin-bottom: $vrhythm; }
.page .post__languages,
.post header .post__languages {
  margin-bottom: $vrhythm;
  line-height: 1rem;

  .active {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border: 1px solid $color-text;
    border-radius: 1rem;
  }

  a, a:hover, a:link { text-decoration: none; }
  a {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border: 1px solid $color-link;
    border-radius: 1rem;
    &:active, &:hover {
      background: $color-link;
      color: $color-background;
    }
  }
}

.post footer { margin-bottom: $vrhythm; }


.post-figure {
  text-align: center;
}
.post-figure--grid {
  display: flex;
  flex-direction: column;
  .post-figure__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .post_figure--grid__item {
    display: block;
    box-sizing: border-box;
    width: 49%;
  }
}
.post-teaser {
  margin: 0;
  padding: 0;
  width: 100%;
}
.summary { margin-top: 1em; }
.post-teaser__image { max-width: 100%; }
.post-figure__image {
  border-width: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.post-figure__caption {
  font-size: $small-size;
  margin-top: 1em;
}
.teaser__image { }

// ToC (Table of Contents) summaries
#toc,
details, summary { font-family: $font-sans; }

.footnote-button {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  color: $color-link;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 1px;
  height: 1.6em;
  line-height: 1;
  padding: 0 0.4em;
  min-width: 1.8em;
  position: relative;
  text-decoration: none;
  top: -0.5em;
  transition-duration: 0.2s;
  transition-property: background-color color;
  transition-timing-function: ease;
  vertical-align: middle;
  z-index: 5;

  &.is-active {
    transition-delay: .1s;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.footnotes {
  margin-top: 3em;
  font-size: $small-size;
  p { margin-bottom: 0; margin-top: 0; }
}

// 1 unit space = 1 line height (1.6x)
p, blockquote {
  margin-top: $vrhythm;
  margin-bottom: $vrhythm
}

// 2 unit space
hr, figure, aside, table, article table {
  margin-top: 2 * $vrhythm;
  margin-bottom: 2 * $vrhythm;
}
// Do not add big margin when this is the first actual content of a post
.post--single > header + * {
  margin-top: 0;
}
// Negate the spacing on overviews
.post--in-list > header {
  margin-bottom: -$vrhythm;
}

aside#comments {
  margin-top: $vrhythm;
  // Remove big margin from topmost comment content separator
  & > hr:first-child {
    margin-top: 0
  }
}

.post aside,
aside.note {
  font-family: $font-sans;
  padding: 0 1em;
}

aside.note {
  border-radius: 1.4em;
  border: 0.2em solid $color-aside-note;
}

/** Search box */

.search__form {
  display: flex;
  flex-direction: row;
  gap: clamp(0.2rem, 5vw, 1rem);
}
.search__text, .search__action {
  height: 2em;
}
.search__text {
  flex: 2 1 20em;
}
.search__action {
  flex: 1 1 5em;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

.content-container {
  article .search__form { margin: $vrhythm 0; }
  .search__action {
    background: transparent;
    border-color: $color-link;
    color: $color-link;
  }
  .search__action:active {
    background: $color-link;
    border-color: $color-link;
    color: $color-background;
  }
}

#footer {
  .search__action {
    background: transparent;
    border-color: white;
    color: white;
  }
  .search__action:active {
    background: white;
    border-color: white;
    color: $color-background-footer;
  }
}

// TODO: Same style as coaching picture; unify them
img.author-profile-picture {
  display: block;
  max-width: 100%;
  @media only screen and (min-width: $medium-breakpoint) {
    float: right;
    max-width: 50%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  @media only screen and (min-width: $large-breakpoint) {
    float: right;
    width: 33%;
    margin-left: 1em;
    margin-bottom: 0.1em;
  }
}

.post-figure__image {
  background: #fff;
}
.post-figure--borderless .post-figure__image {
  border-color: transparent;
  padding: 0;
  background: transparent;
}

@media only screen and (min-width: $medium-breakpoint) {
  .tool {
    font-size: $small-size;
  }

  .tool-icon { max-width: 100%; }

  .oldie nav a {
      margin: 0 0.7%;
  }

  .post-figure__image {
    border: 1px solid #d4d4d4;
    padding: 0.25em;
  }

  .post-teaser {
    max-width: 40%;
    float: right;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .textexpander__image {
    max-width: 8em;
  }

  h2 { clear: both; }
}

#sidebar {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: calc(2 * $vrhythm);
}

#sidebar header {
  font-weight: bold;
}

#toc { display: none; } // No ToC on mobile
#toc {
  --border-width: 2px;

  font-size: $small-size;
  ol { list-style: none; margin: 0; padding: 0; }
  ol > li { margin: 0; padding: 0; }

  li > a             { --indent: 0rem; }
  li li > a          { --indent: 1rem; }
  li li li > a       { --indent: 2rem; }
  li li li li > a    { --indent: 3rem; }
  li li li li li > a { --indent: 4rem; }
  li > a {
    padding-left: calc(var(--indent) + 1rem);
    margin-left: calc(1 * var(--border-width));
  }

  // Limit ToC link colorization to affect the immediate `li > a`, not any `a` (nested) inside.
  li > a {
    display: block;
    color: $color-med;
    border-left: var(--border-width) solid $color-med;
    text-decoration: none;
    &:hover {
      color: $color-link;
      border-left-color: $color-link;
      text-decoration: underline;
    }
  }
  li.active > a {
    font-weight: bold;
    color: $color-text;
    border-left-color: $color-text;
    text-decoration: none;
  }
  .totop {
    color: currentColor;
  }
}

@media only screen and (min-width: $large-breakpoint) {
  .content-container {
    display: grid;
    grid-template-columns: [content-start sidebar-start] repeat(4, minmax(min(7rem, 20vw), 1fr)) [sidebar-end content-end];
    grid-column-gap: clamp(0.5rem, 3vw, 2rem);
    margin-inline: auto;
    padding-inline: var(--block-padding, 0.5rem);
    max-width: 38rem;
  }

  .has-toc .content-container {
    grid-template-columns: [content-start] repeat(4, minmax(min(7rem, 15vw), 1fr)) [content-end sidebar-start] repeat(2, minmax(min(5rem, 8vw), 1fr)) [sidebar-end];
    max-width: var(--content-width);
  }

  #content {
    grid-area: content;
  }
  #sidebar {
    grid-area: sidebar;
    padding-top: $vrhythm;
  }

  // Stole sidebar settings from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Subgrid
  #toc {
    --offset: 0;
    display: flex;
    gap: calc($vrhythm / 2);

    flex-direction: column;
    position: sticky;
    height: calc(100vh - var(--offset));
    top: 0;

    // Extend the sidebar height
    .toc-buffer { min-height: 25vh; }
  }
}

@media only screen and (min-width: 1200px) {
  figure {
    /* figure used negative margins to display to-the-edge on mobile */
    margin-left: 40px;
    margin-right: 40px;
  }

  .tool ul { padding-left: 0; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
