/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $color-text;
}

body {
  background: $color-background;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font-family: $font-base;
  font-size: $base-size;
  line-height: $base-line-height;
}

h1, .announcement,
label, input { font-family: $font-sans; }

.header__title {
  color: white;
  font-size: 160%;
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  text-shadow: 0 2px 0 rgba(0,0,0,0.4);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #B5CB30;
  text-align: center;
}

.header-container { 
  background-color: #B5CB30;
  background-image: url('/img/header.png');
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.wrapper { /* don't add margin on mobile to all */ }
.content-wrapper { width: 98%; margin: 0 1%; }

.footer-container,
.main aside {
    background: #B5CB30;
}

#footer { font-family: $font-sans; }

/* ==============
    MOBILE: Menu
   ============== */

nav { background: $color-background-nav; font-family: $font-sans; }

nav ul { margin: 0; padding: 0; }
nav ul li { list-style-type: none; }

nav a {
    display: block;
    margin: 10px 0;
    padding: 0.5em 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    $color: #D3D3D3;
    color: $color;
    
    .nav__icon .iconic-property-fill {
      fill: $color;
    }
}

nav a:hover {
    $color: white;
    color: $color;
    border-bottom-color: transparent;
    background: rgba(255,255,255,0.2);
    
    .nav__icon .iconic-property-fill {
      fill: $color;
    }
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
  background: $color-background;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .header__title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: $color-link;
  border-bottom-color: $color-link;
}
figure a, figure a:hover {
  border-bottom-color: transparent;
}

.announcement {
  background: rgba(181, 203, 48, 0.7);
}
.announcement__header { text-align: center; }
.icon--head {
  max-width: 4em;
  .iconic-property-fill {
    fill: $color-background-nav;
  }
}

/**
 * Blog
 */
.post__meta {
  display: inline-block;
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  font-size: $small-size;
  
  li { display: inline-block; }
}

.tags {
  display: inline;
  padding-left: 0;
  margin-left: 0;
  
  li {
    display: inline;
    list-style: none;
    padding-right: 0;
  }
}

/** Book Announcement Page */
.book_toc {
  font-family: 'PT Sans', sans-serif;
}
.book_toc, .book_toc ul {
  margin-top: 0;
  margin-bottom: 0;
}
.book_toc > li > ul {
  font-size: 0.8em;
}


/** Tools Page */

.tool { font-family: $font-sans; }
.tool dd, .tool dt { margin-left: 0; }
.tool h3 { font-size: inherit; margin-bottom: 0; }
.tool ul { margin-top: 0; }
.tool-link { color: $color-text; border-bottom-color: transparent; }
.tool-icon { max-width: 14em; }
.tool-icon figure { margin: 0; }
.tool-icon__image { width: 80%; }
.tool-specs {}
.tool-specs__spec { display: inline; list-style-type: none;  color: $color-light; }
.tool-specs__spec:after { content: ' \00B7';}
.tool-specs__spec:last-child:after { content: ''; }
.tool-usage {}
.tool-usage__submit { list-style-type: none; }
.tool-author--single *, .tool-review * { display: inline; }
.tool-author--single h3, .tool-review h3 { margin-right: 0.5em; }


.post__title { margin-bottom: 0; }
.post__meta { margin-top: 0; }
.post-figure {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
/*#posts article figure.teaser {
  margin: 0;
  padding: 0;
  width: 100%;
  @include above_breakpoint() {
    max-width: 40%;
    float: right;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
  };
}
*/
.post-figure__image {
  border-width: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.post-figure__caption { font-size: $small-size; }
.teaser__image { }
.footnotes { 
  border-top: 3px solid $color-separator;
  margin-top: 3em;

  font-size: $small-size; 
  p { margin-bottom: 0; margin-top: 0; }
}

hr {
  border-color: transparent;
  border-top: 3px solid $color-separator;
  margin-top: 2em;
  margin-bottom: 2em;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

  body {
    font-size: $large-base-size;
  }
  
  .tool {
    font-size: $small-size; 
  }
  
/* ====================
    INTERMEDIATE: Menu
   ==================== */

  nav a {
/*        float: left;*/
/*        width: 27.1%;*/
/*        margin: 0 1.7%;*/
      padding: 0.5em 2%;
      margin-bottom: 0;
  }

  nav li:first-child a {
      margin-left: 0;
  }

  nav li:last-child a {
      margin-right: 0;
  }
  
  .header__title {
    font-size: 220%;
    width: 8em;
    padding-left:  0.4em;
    padding-right: 0.2em; /* right: 0.4em - letter-spacing */
    margin-left: auto;
    margin-right: auto;
  }

  .tool-icon { max-width: 100%; }
  
  nav ul li {
      display: inline;
  }

  .oldie nav a {
      margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 400%;
    margin-top: .4em;
    margin-bottom: .4em;
  }
  
  .post-figure__image {
    border: 1px solid #d4d4d4;
    padding: 0.25em;
    background: #fff;
  }
}

@media only screen and (min-width: 900px) {

/* ===============
    Maximal Width
   =============== */

  body { background: $color-background-wide; }

  .wrapper, .content-wrapper {
    width: 810px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
  
  .main, .footer-main {
    padding-left: 2em;
    padding-right: 2em;
  }

  .header__title {
    font-size: 466%;
  }
    
  nav a { 
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  
  .tool ul { padding-left: 0; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}