/*
 * Newsletter box
 */

.book-ad { }
.book-ad__title { font-size: $large-base-size / $base-size * 1em; }
.book-ad__info { font-size: $small-size; }
.book-ad__cover { max-width: 90%; }
.book-ad__cover-link { border-bottom: 0; }
