aside.coaching__tldr {
  font-family: $font-sans;
  padding: 0 1em;
  border-radius: 1.4em;
  border: 0.2em solid $color-aside-note;

  h2 {
    text-align: center;
  }
}

.coaching__action {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 1em 2em;

  box-sizing: border-box;
  border-bottom-width: 0 !important;
  border-radius: 2px;

  text-align: center;
  vertical-align: middle;

  font-family: $font-sans;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: #5B6FDC;
  background-image: linear-gradient(to bottom, #6875EF 0%, #5D66CE 100%);

  &:hover {
    color: white;
    background: darken(#5B6FDC, 5%);
    background-image: linear-gradient(to bottom, darken(#5C6AE9, 8%) 0%, darken(#3440C2, 10%) 100%);
  }
}

img.coaching__about-me {
  display: block;
  max-width: 100%;
  @media only screen and (min-width: $medium-breakpoint) {
    float: right;
    max-width: 50%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  @media only screen and (min-width: $large-breakpoint) {
    float: right;
    width: 33%;
    margin-left: 1em;
    margin-bottom: 0.1em;
  }
}
