aside.coaching__tldr {
  font-family: $font-sans;
  padding: 0 1em;
  border-radius: 1.4em;
  border: 0.2em solid $color-aside-note;

  h2 {
    text-align: center;
  }
}

img.coaching__about-me {
  display: block;
  max-width: 100%;
  @media only screen and (min-width: $medium-breakpoint) {
    float: right;
    max-width: 50%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  @media only screen and (min-width: $large-breakpoint) {
    float: right;
    width: 33%;
    margin-left: 1em;
    margin-bottom: 0.1em;
  }
}

.call-to-action.coaching__action {
  --cta-fg: #{$color-background};
  --cta-fg-hover: #{$color-background};
  --cta-bg: #{$color-accent2};
  --cta-bg-hover: #{darken($color-accent2, 5%)};

  border-radius: calc(var(--block-radius) / 2);
}
