#navigation {
  line-height: 1.0;  // Reset to close bottom gap below hamburger and menu
  background: $color-background-nav-main;
  z-index: 100;
}
.main-navigation {
  line-height: 2.0;
}

.main-navigation, .sub-navigation { margin: 0; padding: 0; }
#navigation li { list-style-type: none; }

.header-container { position: relative; z-index: 999; } // Draw header container on top of main menu shadow
.main-navigation {
  --font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  @media only screen and (min-width: $large-breakpoint) {
    grid-template-columns: repeat(7, 1fr); // TODO: hard coded to amount of menu items
  }

  font-family: $font-sans;
  background: $color-background-nav-main;
  font-size: var(--font-size);
  @media only screen and (min-width: $large-breakpoint) {
    --font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 0rem 1rem;
  }

  z-index: 200;
}
.menu-item--has-submenu {
  position: relative;
}

.menu-item {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: center;

  justify-content: left;

  @media only screen and (min-width: $large-breakpoint) {
    justify-content: center;
  }
}
.menu-item--has-submenu .menu-item-label {
  background: transparent;
}
.menu-item--has-submenu.menu-item--active .menu-item-label,
.menu-item--has-submenu:hover .sub-menu-toggle {
  background: $color-background-nav-sub;
}

#navigation a,
#navigation .menu-item-label {
  position: relative;
  z-index: 500;
  display: block;
  width: 100%;
  padding: 0.5em 1rem;
  border-style: solid;
  border-width: 0 0 0 0.4rem;
  border-color: transparent;

  text-align: left;
  @media only screen and (min-width: $large-breakpoint) {
    text-align: center;
  }
}
#navigation .menu-item--active .menu-item-label {
  color: lighten($color-nav, 5%);
  border-color: $color-background-header;
}

// Don't highlight a main menu item itself when a sub navigation is available
#navigation .main-navigation > .menu-item--has-submenu.menu-item--active > .menu-item-label {
  border-color: transparent;
}

#navigation a,
#navigation button {
  color: $color-nav;
  font-weight: normal;
  text-decoration: none;
  font-size: var(--font-size);

  &:hover {
    $color: white;
    color: $color;
    text-decoration: none;
    background: rgba(255,255,255,0.2);

    .nav__icon .iconic-property-fill {
      fill: $color;
    }
  }
}

.main-navigation {
  .iconic .iconic-property-fill {
    stroke: $color-nav;
    fill: $color-nav;
  }
  .iconic .iconic-property-accent,
  .iconic .iconic-property-stroke {
    stroke: $color-nav;
  }
}

.sub-navigation {
  font-family: $font-sans;
  background: $color-background-nav-main;

  z-index: 300;

  display: flex;
  flex-direction: column;

  .sub-menu_item a,
  .sub-menu_item .menu-item-label {
    text-indent: 10%; // Instead of margin doesn't affect the clickable area or highlighted rect
    @media only screen and (min-width: $large-breakpoint) {
      text-indent: 0;
    }
  }
}

.menu-item--active .sub-navigation {
  background: $color-background-nav-sub;
}

@media only screen and (min-width: $large-breakpoint) {
  .sub-navigation {
    position: absolute;
    left: 50%;
    top: 100%;
    transform-origin: top center;
    transform: rotateX(-90deg) translateX(-50%);
    min-width: 15ch;
    width: 100%;

    --submenu-transition: 150ms all 100ms ease-out;
    transition: var(--submenu-transition);
    opacity: 0.3; // Start not at 0.0 to transition in just a wee bit faster.
    visibility: hidden;

    z-index: 199;
    box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.1rem 0.5rem;
  }

  .menu-item--has-submenu {
    &:hover,
    &:focus-within {
      .sub-navigation {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0deg) translateX(-50%);
      }
    }
  }
}

@media only screen and (min-width: $large-breakpoint) {
  #navigation a,
  #navigation .menu-item--active .menu-item-label {
    --vpadding: 0.5em;
    --underline: 8px;
    padding-bottom: calc(var(--vpadding) - var(--underline));
    border-width: 0 0 var(--underline) 0; // Display active border on bottom on larger screens
  }

  #navigation.has-submenu {
    margin-bottom: 3em; // TODO approximate height of menu bar
  }
}

/// Hamburger navigation with fly-out/dropdown

#navigation #hamburger-toggle {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
#navigation .hamburger-container {
  display: block;
  background: $color-background-nav-main;
  line-height: 1.0;
}
#navigation #hamburger {
  display: block;
  // height: 100%;
  padding: 0.5rem;
  border: 0;
  cursor: pointer;
}
@media only screen and (min-width: $large-breakpoint) {
  #navigation #hamburger,
  #navigation #hamburger-toggle {
    display: none;
  }
}
#navigation {
  position: relative;
}
#navigation .main-navigation {
  position: absolute;
  top: 100%; left: 0;
  width: 100%;
  visibility: hidden;

  --hamburger-menu-transition: 150ms all 100ms ease-out;
  transform-origin: top center;
  transform: rotateX(-90deg);
  opacity: 0.3;
  transition: var(--hamburger-menu-transition);

  @media only screen and (min-width: $large-breakpoint) {
    visibility: visible;
    position: unset;
    transform: rotateX(0deg);
    opacity: 1;
  }
}
#navigation #hamburger-toggle:checked ~ .main-navigation {
  visibility: visible;
  transform: rotateX(0deg);
  opacity: 1;
}
.hamburger-container #hamburger {
  --size: clamp(16px, 10vmin, 32px);
  width: var(--size);
  height: var(--size);
  box-sizing: content-box;

  transition: transform 0.2s ease;
}
.hamburger-container #hamburger .slice {
  --slice-height: 2px;
  display: block;
  position: relative;
  width: 100%;
  height: var(--slice-height, 2px);
  border-radius: var(--slice-height);
  transition: all 0.2s ease;
  background-color: $color-nav;
  opacity: 90%;
}
.hamburger-container #hamburger .slice {
  margin-top: 22%; // Fallback to produce something hamburger-ish if calc is not available
  margin-top: calc(33% - var(--slice-height));
  top: calc((33% - var(--slice-height)) / -2);
}

.hamburger-container #hamburger-toggle:checked ~ #hamburger .slice:nth-child(1) {
  top: calc(50% - 33% + var(--slice-height) / 2);
  transform: rotate(45deg);
}

.hamburger-container #hamburger-toggle:checked ~ #hamburger .slice:nth-child(2) {
  opacity: 0;
}

.hamburger-container #hamburger-toggle:checked ~ #hamburger .slice:nth-child(3) {
  top: calc(-50% + var(--slice-height) / 2);
  transform: rotate(-45deg);
}

// Disables transitions temporarily. Injected via JS when a link anywhere in the menu is clicked.
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
