.main-navigation {
  position: relative;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));

  font-family: $font-sans;
  background: $color-background-nav-main;
  font-size: 0.8rem;
  font-size: min(1rem, max(3vmin, 0.6rem));
}
.sub-navigation {
  font-family: $font-sans;
  background: $color-background-nav-sub;
  position: static;
  z-index: 200;
  left: 0;
  width: 100%;
}

#navigation ul { margin: 0; padding: 0; }
#navigation ul li { list-style-type: none; }

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}
.menu-item--has-submenu {}

// Hide submenus by default; only display for when sibling is the "active" indicator
.sub-navigation { display: none; }
.menu-item--has-submenu > .active + .sub-navigation { display: block; }

.menu-item--has-submenu > .active {
  background: $color-background-nav-sub;
}

#navigation a,
#navigation .active {
  display: block;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  border-style: solid;
  border-width: 0 6px 0 6px; // Display active border as surrounding mobile
  border-color: transparent;
}
#navigation .active {
  font-weight: bold;
  color: darken($color-nav, 5%);
}

#navigation .main-navigation .active,
#navigation .sub-navigation .active {
  border-color: $color-background-header;
}
// Don't highlight a main menu item itself when a sub navigation is available
#navigation .main-navigation .menu-item--has-submenu > .active {
  border-color: transparent;
}

#navigation a {
  color: $color-nav;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    $color: white;
    color: $color;
    text-decoration: none;
    background: rgba(255,255,255,0.2);

    .nav__icon .iconic-property-fill {
      fill: $color;
    }
  }
}

.main-navigation {
  .iconic::before {
    --scale: 0.8;
    transform: scale(var(--scale));

    @media only screen and (min-width: $large-breakpoint) {
      --scale: 1.0;
    }

  }
  .iconic .iconic-property-fill {
    stroke: $color-nav;
    fill: $color-nav;
  }
  .iconic .iconic-property-accent,
  .iconic .iconic-property-stroke {
    stroke: $color-nav;
  }
}

@media only screen and (min-width: $medium-breakpoint) {
  #navigation a,
  #navigation .active {
    --vpadding: 0.5em;
    padding: var(--vpadding) 0;
    margin-bottom: 0;
    border-width: 4px; // 4 sided outline
  }

  #navigation ul li { }
}

@media only screen and (min-width: $large-breakpoint) {
  #navigation a,
  #navigation .active {
    --vpadding: 0.5em;
    --underline: 8px;
    padding-bottom: calc(var(--vpadding) - var(--underline));
    border-width: 0 0 var(--underline) 0; // Display active border on bottom on larger screens
  }

  #navigation.has-submenu {
    margin-bottom: 3em; // TODO approximate height of menu bar
  }

  .sub-navigation {
    // Show 2nd tier nav in a row below main items
    position: absolute;
  }
}
