/*
 * Newsletter sidebar
 */

#newsletter {}
.newsletter-form #newsletter { display: none; }

#newsletter {
  display: flex;
  flex-direction: column;
  gap: calc($vrhythm / 2);

  p { margin: 0; }
}

a.newsletter-signup-widget { text-decoration: none; border: none; }

.newsletter-signup-widget {
  .box {
    display: flex;
    background: $color-background-textinput;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    border: 2px solid $color-light;
    padding: 0.2rem 0.5rem;
    border-radius: 2px;

    &:hover {
      border-color: $color-med;
    }
  }
  .envelope {
    flex: 0 1 16px;
    color: $color-med;
    vertical-align: center;
    &.iconic[data-glyph]:before { top: 0.15em; }
    * {
      fill: $color-med;
      stroke: $color-med;
    }
  }
  .email {
    flex: 3 2 auto;
    color: $color-med;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .subscribe {
    flex: 2 2 auto;
    font-weight: bold;
    text-align: right;
    color: $color-accent;
  }
}




/*
 * Newsletter box
 */

.newsletter {
  display: flex;
  flex-direction: column;
  gap: $vrhythm;
  margin-block: $vrhythm;

  h1, h2, h3, h4, p { margin: 0; }
}

.newsletter__title { }
.newsletter__info {
  font-size: $small-size;
}

/*
 * Newsletter Form
 */

.news__section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: calc($vrhythm / 4);
}

.news__section--gdpr {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 1ch;
}

.news__section--indicates-required {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: calc($vrhythm / 2);
}

.news__label {
  font-size: $small-size;
  font-weight: bold;
}
.news__label.news__label--checkbox {
  font-size: $base-size;
  font-weight: normal;
  text-transform: unset;
}
.news__input {
  border: 2px solid;
  border-radius: 2px;
  border-color: $color-med;
  background: white;
  padding: 0.2rem 0.5rem;

  &:active, &:focus {
    outline: 2px solid $color-accent;
  }
}

.news__input--text {}
.news__input--email {}
.news__input--text {}

.news__input--button {
  font-family: $font-sans;
  letter-spacing: 1px;
  font-weight: bold;

  background-color: $color-accent2;
  color: $color-background;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  outline: none;
  width: 100%;

  position: relative;
  top: 0px;

  &:active, &:focus {
    outline: none;
    top: 2px;
    box-shadow: none;
    border-color: $color-accent2;
    background-color: saturate(darken($color-accent2, 5%), 5%);
  }
}
.asterisk { color: red; }
.indicates-required { font-size: 80%; font-style: italic; }
