// Index page
.thearchive-launch { margin-top: -2em; }
a.thearchive-launch__link:hover { border-bottom-color: transparent; }
.thearchive-launch__image { width: 106%; margin-left: -3%; margin-right: -3%; }
@media only screen and (min-width: 900px) {
  .thearchive-launch__image { width: 130%; margin-left: -15%; margin-right: -15%; }
}

// Archive Content Pages
.the-archive {
  .hero img { max-width: 100%; }
  .appname {
    font-size: 300%;
    line-height: 100%;
    text-align: center;
    margin-bottom: 0.2em;
    text-shadow: 0 1px 0px #fff, 0 2px 0px #d8d8d8, 0 3px 0px #ccc;
  }
  .tagline {
    margin-top: 0;
    font-family: $font-sans;
    line-height: 100%;
    text-align: center;
  }

  .two-sentence {
    font-family: $font-sans;
    font-size: $largest-preview-size;
  }

  hr.resources-rule {
    margin: 2em 10% 2em 10%;
    border: 0; border-top: 2pt solid #ddcccc;
    opacity: 0.8;
  }

  .action__icon {
    margin-right: 0.5rem;
    margin-left: -0.5rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }

  .hero .action--buy { font-size: 2em; }

  .s4d { text-align: left; }//font-size: 1.2em; margin-top: 1.6em; }
  .s4d__save { }//font-size: 1.2em; }

  .appinfo { font-size: 80%; }
  .appinfo--hero { }// S4D

  .features { }
  .feature-shortlist { font-size: 80%; }

  .feature { margin-top: 1.5em; }
  .feature-title { font-family: $font-sans; }
  .feature-img-container { }
  .feature-img { max-width: 90%; display: block; margin: 0 auto; }
  .feature-desc { }

  .todos { list-style: none; }
  .todo {
    background: url('/the-archive/img/checkbox.png') no-repeat left center;
    padding-left: 32px;
  }
  .todo.done {
    background: url('/the-archive/img/checkbox-ticked.png') no-repeat left center;
  }

  a.back--link {
    margin-top: 1em;
    display: inline-block;
    padding: 0.2em 0.5em;
    border: 2pt solid #434356;
    border-radius: 2px;

    &:hover {
      border: 2pt solid #434356;
      .back--text {
        border-bottom: 1px solid $color-link;
      }
    }
    &:visited { border: 2pt solid #434356; }
  }
  .back--image { margin-right: 0.7em; }
  .back--text { font-family: $font-sans; }

  .monomyth {
    padding: 1em 2em;
    transform: rotate(1deg);
    background-color: #FCF4DC;
    box-shadow: 1pt 2pt 4pt rgba(0,0,0,0.2);
  }
  // .monomyth image only visible on tablets and larger
  .monomyth__signature {
    padding-top: 3em;
    line-height: 1;
    font-style: italic;
    background: url('/the-archive/img/signatures.png') no-repeat top left;
    background-size: contain;
    .names {}
    .title { text-transform: lowercase; font-variant: small-caps; font-family: $font-sans; }
  }

  .testimonial {
    position: relative;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
//  .testimonial:last-child { margin-bottom: 0em; }
  .quote {
    font-family: $font-serif;
    font-style: normal;
    line-height: 1.8;
    padding: 0; margin: 1em 0;
  }
  .quote::before { font-style: normal; content: '“'; font-size: 2.2em; position: absolute; top: -0.2em; left: -0.8em; color: #ccc3a8; }
  .quote::after { font-style: normal; content: '”'; font-size: 2.2em; position: absolute; top: -0.4em; right: -0.8em; color: #ccc3a8; }
  .source { font-style: normal; font-family: $font-sans; }
  .name { font-weight: bold; }
  .creds { font-size: 80%; }
}

.pk-screenshots a,
.pk-screenshots a:hover {
  border-bottom-color: transparent;
}

@media only screen and (min-width: $medium-breakpoint) {
  .the-archive {
    .action__item.action__item--info.appinfo--hero { margin-top: 0; }// S4D

    .appinfo {
      text-align: left;
      padding-left: 1em;
    }

    .hero .action--buy {
      font-size: 220%;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .features { margin-top: 3em; }
    .feature-img--plaintext { }

    .resources {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      font-family: $font-sans;
      li { display: inline; }
      li::after { content: '  \25CF  '; opacity: 0.3; }
      li:last-child::after { content: ''; }
    }

    .monomyth {
      transform: rotate(2deg);
    }

    // Help
    dt { font-weight: bold; margin-left: 2em; margin-top: 3em; }
    dt:first-child { margin-top: 0; }
    dt:before {
      content: "Q: ";
      float: left;
      margin-left: -2em;
    }
    dd {
      margin-left: 2em;
    }
    dd:before {
      content: "A: ";
      float: left;
      margin-left: -2em;
    }
    .pk-screenshot { width: 100%; }
  }
}

@media only screen and (min-width: $large-breakpoint) {
  .the-archive {
    .hero img { }
    .appname { font-size: 400%; }

    .action__item.action__item--info.appinfo--hero { margin-top: 0; }// S4D

    .feature-img-container { text-align: center; }
    .feature-img--plaintext { margin-top: 1em; width: 80%; }
    .feature-img--clean { margin-top: 2em; }
    .feature-img--elegant { margin-top: 1em; }

    .monomyth {
      transform: rotate(3deg);
      margin-top: 2em;
      padding: 2em 3em;
    }
    .monomyth {
      background-image: url('/the-archive/img/weapon-of-gods.png');
      background-position: 110% 103%;
      background-size: 40%;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }

    .testimonial {
      margin-left: 2em;
      margin-right: 2em;
      margin-bottom: 4em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .the-archive {
    .monomyth {
      margin: 0 -10%;
      width: 120%;
    }
  }
}


/** Window animation */

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


////////////////////////////////////

/** Variables */
$border-color: #434356;
$border: 2px solid $border-color;
$window-radius: 8pt;
$body-height: 8em;
$cursor-color: #7fcde3;
$solarized-editor: false;

.c-window {
  width: 100%;
  max-width: 2 * $body-height;
  border: $border;
  border-radius: $window-radius;
  text-align: left;
  margin: 0 auto;
  line-height: 1;
}

.c-titlebar {
  margin-left: 0.2em;
}

.c-bubble {
  margin: 0; padding: 0;
  margin-right: 0.2em;
  border: $border;
  height: 0.4em;
  width: 0.4em;
  border-radius: 5em;
  display: inline-block;
}

.c-omnibar {
  border: $border;
  height: 0.7em;
  margin: 0em 0.2em 0.2em 0.2em;
}

.c-body {
  border-top: $border;
  position: relative;
  height: $body-height;
  @if $solarized-editor {
    background: #fdf6e3;
  }
  border-bottom-left-radius: $window-radius;
  border-bottom-right-radius: $window-radius;
}

$resultsWidth: 35%;
$fatbarWidth: 8%;

@include keyframes("fatbarAnim") {
  0%   { opacity: 0; width: 0; }
  10%  { opacity: 0; width: 0; }
  20%  { opacity: 1; width: $fatbarWidth; }
  60%  { opacity: 1; width: $fatbarWidth; }
  70%  { opacity: 0; width: 0; }
  100% { opacity: 0; width: 0; }
}

@mixin body-element {
  border-right: $border;
  width: 0;
  height: $body-height;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-bottom-left-radius: $window-radius;
}

.c-fatbar {
  @include body-element;
  @include animation('fatbarAnim ease-in-out 10s infinite');
  @if $solarized-editor == true {
    background: #cfc8ab;
  } @else {
    background: #d1d8d1;
  }
}

@include keyframes("resultsAnim") {
  0%  { opacity: 0; width: 0; }
  15%  { opacity: 1; width: $resultsWidth; }
  40%  { opacity: 1; width: $resultsWidth; }
  50%  { opacity: 0; width: $fatbarWidth; }
  70%  { opacity: 0; width: $fatbarWidth; }
  100% { opacity: 0; width: 0; }
}

.c-results {
  @include body-element;
  @include animation('resultsAnim ease-in-out 10s infinite');
  @if $solarized-editor == true {
    background: #eee8d5;
  } @else {
    background: #e5e5ea;
  }
}

@include keyframes("textAnim") {
  0%   { width: 100%; margin-left: 0; }
  15%  { width: 100% - $resultsWidth; margin-left: $resultsWidth; }
  40%  { width: 100% - $resultsWidth; margin-left: $resultsWidth; }
  50%  { width: 100% - $fatbarWidth; margin-left: $fatbarWidth; }
  60%  { width: 100% - $fatbarWidth; margin-left: $fatbarWidth; }
  70%  { width: 100%; margin-left: 0; }
  100% { width: 100%; margin-left: 0; }
}

.c-text {
  position: relative;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-family: $font-mono;
  @if $solarized-editor == true {
    color: #586e75;
  } @else {
    color: #666655;
  }
  @include animation('textAnim ease-in-out 10s infinite');
}

@include keyframes("blink") {
  80% { opacity: 0; }
}

.c-write { font-size: 80%; }
.c-cursor {
  position: absolute;
  margin-left: 2px;
  width: 3px;
  height: 1.4em;
  top: 0.2em;
  background: $cursor-color;
  opacity: 1;
  @include animation('blink 1.5s ease-in-out infinite');
}

.sha-button {
  border: none;
  border-radius: 0.5em;
  color: white;
  background-color: #a9a9a9;
  font-size: 80%;
  text-transform: uppercase;
}
.tippy-content { font-family: $font-sans; }
