$color-fg: #333;
$color-background: #faf7f4;
$color-accent: #4961DD;
$color-accent2: #d07c84;
$color-accent3: #B5CB30;

$color-text: $color-fg;
$color-med: #888;
$color-light: #aaa;

$color-link: #4961DD;
$color-selection: #b3d4fc;

$color-table-border: #D3D3D3;
$color-separator: darken($color-background, 10%);

$color-background-header: $color-accent3;
$color-background-footer: $color-accent3;

$color-background-nav-main: #144659;
$color-background-nav-sub: lighten(#144659, 5%);
$color-nav: #D3D3D3;

$color-aside-note: $color-accent3;

$font-serif: 'PT Serif', serif;
$font-sans: 'PT Sans', sans-serif;
$font-base: $font-serif;
$font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

// Browser default sizes is 16px, so we compute it in fractions:
$base-size: 18px / 16px * 1em;
$small-size: 0.8em; // 16px
$large-base-size: 22px / 16px * 1em;
$largest-preview-size: 26px / 22px * 1em;
$vrhythm: 1.6rem;  // base line height

$medium-breakpoint: 480px;
$large-breakpoint: 900px;
$modern-breakpoint: 1281px;

$list-indentation: 1em;

/*
color-font: #222;
color-selection: #b3d4fc;

contrast: #B5CB30;
contrast-dark: #A3A658;

144659
B5CB30
A3A658
BFA89B
D9CFCC -- FFF3F0
*/
