@use 'sass:color';

$color-fg: #333;
$color-background: #faf7f4;
$color-accent: #4961DD;
$color-accent2: #d07c84;
$color-accent3: #B5CB30;

$color-background-textinput: white;

$color-text: $color-fg;
$color-med: #888;
$color-light: #aaa;

$color-link: $color-accent;
$color-selection: #b3d4fc;

$color-table-border: #D3D3D3;
$color-separator: darken($color-background, 10%);

$color-background-header: $color-accent3;
$color-background-footer: $color-accent3;

$color-background-nav-main: #144659;
$color-background-nav-sub: lighten(#144659, 5%);
$color-nav: #D3D3D3;

$color-background-dark: color.scale($color-background, $lightness: -5%, $saturation: -10%);

$color-aside-note: $color-accent3;

$font-serif: 'PT Serif', serif;
$font-sans: 'PT Sans', sans-serif;
$font-base: $font-serif;
$font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

// Browser default sizes is 16px, so we compute it in fractions:
$base-size: 18px / 16px * 1em;
$small-size: 0.8em; // 16px
$large-base-size: 22px / 16px * 1em;
$largest-preview-size: 26px / 22px * 1em;
$vrhythm: 1.6rem;  // base line height

$medium-breakpoint: 480px;
$large-breakpoint: 900px;
$modern-breakpoint: 1281px;

$list-indentation: 1em;

:root {
  --content-width: 60rem;
  // The large block elements on the landing page
  --block-radius: min(4vh, 3vw);
  --block-padding: var(--block-radius);
  --block-spacing: var(--block-radius);
  // Their inner elements and cards
  --block-item-radius: calc(var(--block-radius) - var(--block-padding));
  --block-item-spacing: calc(var(--block-radius) / 2);
}


/** Helpers */

// Covers whole card container with the sole link inside. Doesn't work with 2+ links.
.card { position: relative; }
.card a { }
.card a::before {
  content: "";
  position: absolute;
  inset: 0;
}
