$color-text: #333;
$color-light: #aaa;
$color-link: #4961DD;
$color-separator: darken(#feede6, 5%);
$color-background: #faf7f4;
$color-background-nav: #144659;

$font-serif: 'PT Serif', serif;
$font-sans: 'PT Sans', sans-serif;
$font-base: $font-serif;

$base-size: 18px / 16px * 1em;
$base-line-height: 1.6;
$small-size: 0.8em; // 16px
$large-base-size: 22px / 16px * 1em;

/*
color-font: #222;
color-selection: #b3d4fc;

contrast: #B5CB30;
contrast-dark: #A3A658;

144659
B5CB30
A3A658
BFA89B
D9CFCC -- FFF3F0
*/