@import "_variables.scss";

@import "_normalize.scss";
@import "_base.scss";
@import "_actions.scss";
@import "_menu.scss";
@import "_newsletter.scss";
@import "_beta.scss";
@import "_book-ad.scss";
@import "_the-archive.scss";
@import "_coaching.scss";

// `.post aside` sets padding; littlefoot v3.x doesn't allow overrides
.post aside.littlefoot-footnote { padding: 0 !important; }

:root {
  --content-width: 60rem;
}

body.homepage {
  background-color: $color-background-nav-main;

  .header-container {
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.2rem 0.5rem;
  }
  .header__title {
    margin-block: 1rem;
  }
  .main-navigation { background: transparent; }

  .content-wrapper {
    max-width: 100%; // reset the ~36rem setting from normal pages
    display: flex;
    justify-content: center;

    font-family: $font-sans;
    line-height: 1.6rem;
  }

  .content-wrapper .main {
    max-width: var(--content-width);
    margin-inline: auto;

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 8fr 4fr 16fr;  // for finer tuning
    justify-items: stretch;
    gap: 2rem;
  }

  main section {
    padding: 2vh;
    border-radius: 4vh;

    overflow: hidden;
    background: $color-background;
    grid-column-end: span 1;
    grid-row-end: span 1;

    box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.1rem 0.5rem;
  }

  a { border: 0px none; }
  a {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    &:hover { text-decoration: none; }
  }

  p {
    margin-block: 0 1lh;
    --leading-correction: -0.2em;
    &:first-child { margin-block-start: var(--leading-correction); }
    &:last-child { margin-block-end: var(--leading-correction); }
  }

  .landingpage__problem {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .landingpage__guide {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .landingpage__product {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
  }
  .landingpage__blog {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
  }

  .landingpage__problem,
  .landingpage__guide,
  .landingpage__blog {
    padding: 3vh;
  }

  .landingpage__problem {
    img {
      margin-block: 1rem;
      float: right;
      mix-blend-mode: multiply;
      opacity: .4;
      max-width: 60%;
      max-height: 60%;
    }

    h2 {
      font-size: 1.5rem;
      // font-weight: normal;
      // margin-top: -0.2lh;
      letter-spacing: -1px;
      line-height: 1.6rem;
      margin-block: 0 1.6rem;
    }
    p {
      margin-block: 1.6rem 0;
      z-index: 100;

      // font-size: 2.1rem; // fallback
      // font-size: max(1.5rem, min(3.5vw, 5.4vh));
      font-size: 1.2rem;
      letter-spacing: -1px;

      // font-family: $font-serif;
      b {
        font-family: $font-serif;
        font-style: italic;
        font-weight: 900;
        letter-spacing: -1px;
      }
    }
  }

  .landingpage__guide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    .intro {
      margin-top: 0.4rem;
      // font-size: 1.2rem;
    }

    .guides {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      // align-content: stretch;
      justify-content: stretch;
      align-items: flex-end;
    }

    .guide {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      border: 0; // reset link border

      text-align: center;

      .photo {
        img {
          flex-grow: 1;
          display: block;
          max-width: 100%;
          max-height: 8lh;
          aspect-ratio: 5 / 3;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      .more {
        flex-shrink: 0;
        display: block;
        font-size: 0.8rem;
      }
    }
  }

  .landingpage__product {
    position: relative;
    overflow: visible; // don't clip the tag

    display: flex;
    flex-direction: column;

    .wow {
      position: absolute;
      font-size: 1rem;
      rotate: -5deg;
      background: $color-background-header;
      border-radius: 2vh;
      padding: 1vh;
      width: 20ch;
      text-align: center;
      line-height: 1em;
      top: 0;
      left: 0;
      transform: translate(-10%, -70%);
      z-index: 999;
      box-shadow: rgba(0, 0, 0, 0.2) 0.1rem 0.1rem 0.1rem,
                  rgba(0, 0, 0, 0.1) 0.3rem 0.2rem 0.5rem;
    }
    .products {
      flex-grow: 2;
    }
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 2vh;

    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      border: 0;  // reset link border
      border-radius: 2vh;
      background: #d07c84;
      color: white;
      min-height: 3lh;

      transition-property: transform box-shadow;
      transition-duration: 0.1s;

      &:hover {
        transform: scale(1.02) translate(0, -1%);
        box-shadow: rgba(0,0,0,0.1) 0 0.1rem 0.1rem;
      }

      a {
        font-weight: bold;
        color: white;
        //text-decoration: underline; // inherited from default style now
      }
    }
  }

  .posts_list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(22ch, 100%), 1fr));
    gap: 2vh;

    article {
      border-radius: 2vh;
      //border: 1px solid lime;
      span { font-family: "PT Mono", $font-mono; }
      h3 {
        font-size: 1rem;
      }
      p, .description {
        font-size: 0.8rem;
        line-height: 1.3rem;
      }
    }
  }
  // Cover whole card with sole link
  .card { position: relative; }
  .card a { }
  .card a::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}

#footer {
  padding: 4vh;

  .wrapper {
    display: grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-template-columns: [content-start] repeat(auto-fill, minmax(calc(10% + 7.5rem), 1fr)) [content-end]; // Fallback
    grid-template-columns: [content-start] repeat(auto-fill, minmax(min(10rem, 100%), 1fr)) [content-end];
    grid-gap: 2rem;
    justify-items: stretch;
    max-width: var(--content-width);
    margin-inline: auto;

    .search {
      grid-column: content;
    }

    .copyright {
      grid-column: span 2;
    }

    section {
      grid-column: span 1;
      font-size: 0.8rem;
      h3 {
        font-size: 1rem;
        margin-block: 0;
      }
      ul, ol { margin-block: 0; }
    }
  }
}
